body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
}

.header-bar {
    height: 12%;
    position: absolute;
    width: 100%;
    background: #000;
    color: #e77474;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-bar h1 {
    font-size: 40px;
    font-weight: 500;
    position: absolute;
    display: flex;
    margin: auto;
}

.nav-section {
    display: inline-block;
    position: absolute;
    width: 20%;
    height: 88%;
    top: 12%;
    background: #000;
    color: #e77474;
    border-top: 1px solid #e77474;
    line-height: 1.618;
    padding-top: 20px;
}

.nav-section a {
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    margin: 20px 0;
}

.nav-section a:hover,
.nav-section a:focus {
    color: #e6e600;
    /* border-bottom: 1px solid #e77474; */
    text-shadow: 1px 1px 1px #e77474;
    cursor: pointer;
}

.map-canvas {
    display: inline-block;
    position: absolute;
    left: 20%;
    width: 80%;
    top: 12%;
    height: 88%;
    border-top: 1px solid #e77474;
    border-left: 1px solid #e77474;
    transition: all 0.3s ease-out;
}

.search-label {
    padding: 10px 20px;
}

#search {
    height: 40px;
    width: calc(100% - 60px);
    padding: 0 0 0 10px;
    margin-bottom: 20px;
}

.buttonNav {
    visibility: hidden;
    background-color: #000;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: 60px;
}

.toggleButton {
    float: right;
    border: 3px solid #e77474;
    padding: 5px 6px;
    background-color: #000;
    border-radius: 10%;
    cursor: pointer;
}

.toggleButton span {
    width: 25px;
    display: block;
    margin: 6px 12px;
    height: 3px;
    background: #e77474;
}

.toggleButton:hover,
.toggleButton:focus {
    background: #343434;
}

@media only screen and (max-width: 1024px) {
    .nav-section {
        width: 30%;
    }
    .map-canvas {
        left: 30%;
        width: 70%;
    }
}

@media only screen and (max-width: 800px) {
    .buttonNav {
        visibility: visible;
    }
    .nav-section {
        visibility: hidden;
        left: -20%;
        transition: all 0.3s ease-out;
    }
    .nav-section.active {
        visibility: visible;
        left: 0%;
        transition: all 0.3s ease-out;
    }
    .map-canvas.full {
        left: 0%;
        width: 100%;
        transition: all 0.3s ease-out;
    }
}

@media only screen and (max-width: 680px) {
    .nav-section {
        width: 30%;
    }
    .map-canvas {
        left: 30%;
        width: 70%;
    }
    .header-bar h1 {
        font-size: 30px;
        font-weight: 700;
    }
    .buttonNav {
        margin-left: 40px
    }
    .nav-section {
        width: 40%;
    }
    .map-canvas {
        left: 40%;
        width: 60%;
    }
}

@media only screen and (max-width: 480px) {
    .header-bar h1 {
        font-size: 22px;
        font-weight: 700;
    }
    .toggleButton span {
        width: 18px;
        display: block;
        margin: 5px 8px;
        height: 3px;
        background: #e77474;
    }
    .toggleButton {
        border: 3px solid #e77474;
        padding: 2px;
    }
    .buttonNav {
        margin-left: 20px;
    }
    .map-canvas {
        left: 60%;
        width: 40%;
    }
    .nav-section {
        width: 60%;
    }
}

@media only screen and (max-width: 360px) {
    .header-bar h1 {
        font-size: 16px;
        font-weight: 700;
    }
    .map-canvas {
        left: 70%;
        width: 30%;
    }
    .nav-section {
        width: 70%;
    }
    .nav-section a {
        margin: 0;
    }
}